<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a @onclick="()=>ToggleSidebar()">Salebale - Data</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarLabel >Menu</SidebarLabel>
            <SidebarItem>
                <SidebarLink To="/" Title="Charting">
                    <Icon Name="IconName.ChartBar" Margin="Margin.Is3.FromEnd" />Data Chart
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>
@code {
    Sidebar sidebar;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }
}
